{% extends "main.html" %}

{% block content %}

<title>{% block head_title %} Gallery | Upload {% endblock head_title%}</title>
<br><br>
<div class="col-sm-6 col-sm-offset-3">
<div class="row">

    <form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <p><b>Изображение:</b></p>
    {{ form.pic }}<br>

    {% if messages %}
        {% for message in messages %}
        <li>{{ message }}</li><br>
        {% endfor %}
    {% endif %}

    <p><b>Комментарий:</b></p>
    {{ form.text }}<br><br>
    <input type="submit" value="Upload">
    </form>

</div>
</div>

{% endblock %}
